{% extends 'layouts/dashboard.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}
        {% trans "Edit Bank Account" %}
    {% else %}
        {% trans "Add Bank Account" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% url 'finance:bank_account_list' as list_url %}
    {% if form.instance.pk %}
        {% include 'partials/breadcrumb.html' with page_title=_("Edit Bank Account") current_text=_("Edit") parent_text=_("Accounts") parent_url=list_url %}
    {% else %}
        {% include 'partials/breadcrumb.html' with page_title=_("Add Bank Account") current_text=_("Create") parent_text=_("Accounts") parent_url=list_url %}
    {% endif %}

    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <h5 class="card-title mb-4">{% trans "Account Details" %}</h5>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.bank_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.account_name|as_crispy_field }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.account_number|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.branch_name|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                     <div class="col-md-6 mb-3">
                        {{ form.ifsc_code|as_crispy_field }}
                    </div>
                     <div class="col-md-6 mb-3">
                        {{ form.account_type|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-6 mb-3">
                        {{ form.current_balance|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.as_of_date|as_crispy_field }}
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form.is_active|as_crispy_field }}
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a href="{{ list_url }}" class="btn btn-light">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-primary">
                        {% if form.instance.pk %}
                            {% trans "Update Account" %}
                        {% else %}
                            {% trans "Add Account" %}
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
