{% extends 'layouts/dashboard.html' %}
{% load static crispy_forms_tags %}

{% block title %}Security Incident Form{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-4">Security Incident Details</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-secondary">
                            <button type="submit" class="btn btn-primary px-4">Save Changes</button>
                            <a href="{% url 'security:incident_list' %}" class="btn btn-light px-4">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
