<ul class="metismenu" id="menu">

    <li>
        <a href="{% url 'dashboard_redirect' %}">
            <div class="parent-icon"><i class="bx bx-home-alt"></i></div>
            <div class="menu-title">Dashboard</div>
        </a>
    </li>
    <li>
        <a href="">
            <div class="parent-icon"><i class="bx bx-bar-chart-alt"></i></div>
            <div class="menu-title">Monitoring</div>
        </a>
    </li>

    <li class="menu-label">Modules</li>

    <!-- Users & Academics use sub-menus -->
    {% include 'users/partials/sub_menu.html' %}
    {% include 'academics/partials/sub_menu.html' %}
    {% include 'admission/partials/sub_menu.html' %}
    {% include 'fees/partials/sub_menu.html' %}
    {% include 'hr/partials/sub_menu.html' %}
    {% include 'exams/partials/sub_menu.html' %}
    {% include 'attendance/partials/sub_menu.html' %}
    {% include 'library/partials/sub_menu.html' %}
    {% include 'transport/partials/sub_menu.html' %}
    {% include 'communication/partials/sub_menu.html' %}
    {% include 'hostel/partials/sub_menu.html' %}
    {% include 'events/partials/sub_menu.html' %}

</ul>
