    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class="bx bx-message-square-dots"></i></div>
            <div class="menu-title">Communication</div>
        </a>
        <ul>
            <li> <a href="{% url 'communication:dashboard' %}"><i class="bx bx-right-arrow-alt"></i>Dashboard</a></li>
            <li> <a href="{% url 'communication:notice_list' %}"><i class="bx bx-right-arrow-alt"></i>Notices</a></li>
            <li> <a href="{% url 'communication:message_inbox' %}"><i class="bx bx-right-arrow-alt"></i>Messages</a></li>
            <li> <a href="{% url 'communication:notification_list' %}"><i class="bx bx-right-arrow-alt"></i>Notifications</a></li>
        </ul>
    </li>
    