{% extends 'layouts/dashboard.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}
        {% trans "Edit Template" %}
    {% else %}
        {% trans "Create Template" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% url 'finance:budget_template_list' as list_url %}
    {% if form.instance.pk %}
        {% include 'partials/breadcrumb.html' with page_title=_("Edit Template") current_text=_("Edit") parent_text=_("Templates") parent_url=list_url %}
    {% else %}
        {% include 'partials/breadcrumb.html' with page_title=_("Create Template") current_text=_("Create") parent_text=_("Templates") parent_url=list_url %}
    {% endif %}

    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <h5 class="card-title mb-4">{% trans "Template Details" %}</h5>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.budget_type|as_crispy_field }}
                    </div>
                </div>
                
                <div class="row">
                     <div class="col-md-12 mb-3">
                        {{ form.description|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                     <div class="col-md-12 mb-3">
                        {{ form.template_items|as_crispy_field }}
                        <div class="form-text">
                            {% trans "Hold Ctrl (or Cmd on Mac) to select multiple items." %}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form.is_active|as_crispy_field }}
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a href="{{ list_url }}" class="btn btn-light">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-primary">
                        {% if form.instance.pk %}
                            {% trans "Update Template" %}
                        {% else %}
                            {% trans "Create Template" %}
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
