{% extends 'layouts/dashboard.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% if object %}{% trans "Edit Designation" %}{% else %}{% trans "Add Designation" %}{% endif %}{% endblock %}

{% block content %}

        {% url 'hr:designation_list' as list_url %}
        {% if object %}
            {% include 'partials/breadcrumb.html' with page_title=_("Edit Designation") parent_text=_("Designations") parent_url=list_url current_text=_("Edit") %}
        {% else %}
            {% include 'partials/breadcrumb.html' with page_title=_("Add Designation") parent_text=_("Designations") parent_url=list_url current_text=_("Add") %}
        {% endif %}
        <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="d-flex justify-content-end gap-2 mt-4">
                            <a href="{% url 'hr:designation_list' %}" class="btn btn-light">{% trans "Cancel" %}</a>
                            <button type="submit" class="btn btn-primary px-4">
                                <i class="bx bx-save me-2"></i>{% trans "Save Designation" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
 
{% endblock %}
