<li>
    <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-buildings"></i></div>
        <div class="menu-title">Tenants</div>
    </a>
    <ul>
        <li><a href="{% url 'tenants:dashboard' %}"><i class="bx bx-radio-circle"></i>Dashboard</a></li>
        <li><a href="{% url 'tenants:tenant_list' %}"><i class="bx bx-radio-circle"></i>All Tenants</a></li>
        <li><a href="{% url 'tenants:domain_list' %}"><i class="bx bx-radio-circle"></i>Domains</a></li>
    </ul>
</li>
