{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Password Changed - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-6 mx-auto">
        <div class="card border-top border-0 border-4 border-success">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bxs-check-circle me-1 font-22 text-success"></i>
                    </div>
                    <h5 class="mb-0 text-success">Password Changed Successfully</h5>
                </div>
                <hr>
                <p>Your password has been changed successfully.</p>
                <div class="col-12 mt-3">
                    <a href="{% url 'dashboard' %}" class="btn btn-primary px-5">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
